.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-container {
  flex-shrink: 0;
}

.dashboard-container-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px 16px;
}

.dashboard-container-content img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.task-card-container {
  margin-bottom: 16px;
  width: 100%;
}
