.submission-task-card {
  display: flex;
  flex-direction: column;
  background: var(--primary-bg-color);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  margin-bottom: 24px;
  gap: 16px;
}

.submission-task-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #ebf0ff;
  font-weight: 600;
  font-size: 24px;
}

.submission-task-content {
  font-size: 14px;
  color: var(--primary-text-color);
}

.submission-task-actions {
  display: flex;
  justify-content: flex-end;
}

.submit-task-btn {
  background: var(--accent-color);
  color: var(--primary-bg-color);
  border: none;
  padding: 4px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.submit-task-btn:hover {
  background: #3639d7;
  transition: all 0.3s;
}

.details-task-btn {
  background: none;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 4px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.details-task-btn:hover {
  border-color: #3639d7;
  color: #3639d7;
  transition: all 0.3s;
}

.submission-list {
  width: 100%;
  overflow-x: auto;
  margin-top: 1rem;
}
.submission-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.submission-table th,
.submission-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.submission-table th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.submission-table a {
  color: #007bff;
  text-decoration: none;
}

.submission-table a:hover {
  text-decoration: underline;
}

.grade-input-inline {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.grade-input-inline input {
  width: 60px;
  padding: 4px;
}

.grade-input-inline button {
  padding: 4px 8px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.grade-input-inline button:hover {
  background-color: #494bd0;
}
