@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f3f4f9;
  color: #000;
}

:root {
  --primary-text-color: #000;
  --primary-bg-color: #fff;
  --accent-color: #5b5ee5;
  --secondary-border-color: #a7a7a7;
}
